.container
{
    display: grid;
grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.paginationBttns{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a{
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid blue;
    cursor: pointer;
}


.setButtons{
    padding: 3rem;
}