.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(149, 154, 96); */
    /* background-color: slategray; */
    width: 100%;
    height:6rem;
    border: 2px solid black;
    font-variant: small-caps;
    color: black;
    position:sticky;
    top: 0;
}

.left{
    display: flex;
    margin-left: 10px;
}

.left li{
    list-style: none;
    margin: 0 15px;
}

.right img{
    margin-right: 20px;
    width:4rem;
}